@media (max-width: 768px) {
    ul {
        display: none;
    }

    li {
        display: none;
    }

    .btn {
        height: 47px !important;
        width: 7rem !important;
    }
    #mainlogo{
        width: 40% !important;
    }

    nav {
        padding-left: 0px !important;
        padding-right: 0px !important;
        gap: 2px;
    }
    .container{
        flex-direction: column !important;
        padding: 0 1rem !important;
    }
    #mainheading{
        font-size: 33px !important;
    }
    #firstsectionmainheading{
        font-size: 30px !important;
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    position: sticky;
    z-index: 1000;
    padding-bottom: 1rem;
    padding-left: 2.3em;
    padding-right: 2.3rem;
}

#mainlogo {
    height: auto;
    width: 15%;
    margin: 0px;
    margin-bottom: 0px;
}

nav ul {
    display: flex;
    gap: 37px;
    justify-content: center;
    list-style: none;
}

li a {
    font-size: 16px !important;
    row-gap: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    font-size: 16px;
}

a:hover {
    color: rgb(182, 20, 23);
}

.btn {
    height: 41px;
    width: 13rem;
    background-color: black;
    color: white;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 2rem;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a:hover {
    color: rgb(182, 20, 23);
    padding: 20x;

}

.btn:hover {
    background-color: white;
    color: rgb(182, 20, 23);
    border-color: rgb(182, 20, 23);
    transition: .15s ease-in-out;
}
header{
    padding: 10rem 0 3rem 0;
}
.maintext{
    text-align: center;
    
}
#mainheading{
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 900;
    color: rgb(33, 37, 41);
    text-align: center;
    margin-bottom: 1rem;
}
#maintextlink{
    text-align: center;
    text-decoration: none;
    color: rgb(182, 20, 23);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.getintouchlink i{
    color: rgb(182, 20, 23);
}
.container{
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#firstsection{
    padding: 5rem 0;
}
#firstsectionmainheading{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}
#firstsectionfirstpara{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}
#firstsectionsecondpara{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}
#firstsectionthirdpara{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}
#firstsectionfourthpara{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}
.firstsectionmainimage{
    width: 100%;
    
}
#firstsectionmainimg{
    width: 100%;
}
#secondsection{
    padding: 0 0 3rem;
}
.optionboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.optionbox1{
    border: 1px solid rgb(182, 20, 23);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#optionbox1para{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
}
.optionbox2{
    border: 1px solid rgb(182, 20, 23);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#optionbox2para{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
}
.optionbox3{
    border: 1px solid rgb(182, 20, 23);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#optionbox3para{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
}
.optionbox4{
    border: 1px solid rgb(182, 20, 23);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#optionbox4para{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
}
.maintext{
    align-self: first baseline;
}