@media (max-width:786px) {
    ul {
        display: none;
    }

    li {
        display: none;
    }

    .btn {
        height: 47px !important;
        width: 8rem !important;
    }

    nav {
        margin-bottom: 10rem !important;
    }
    #mainlogo{
        width: 50% !important;
    }

    header {
        margin-bottom: 10px !important;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        padding: 0 0 !important;
        margin: 0px !important;
    }

    .heading1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 30px !important;
        line-height: 30px !important;
        text-align: center;
        align-items: center;
    }

    .para1 {
        align-self: center;
        margin: 0px !important;
        text-align: center;
        display: flex !important;
        flex-wrap: wrap !important;

    }


    .development {
        flex-direction: column;
    }

    .heading2 {
        font-size: 30px !important;
        line-height: 30px !important;
    }

    .container3 {
        flex-direction: column;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        align-items: center !important;
    }

    .sections {
        width: 80vw !important;
    }

    .oneimage {
        max-width: 100% !important;
    }

    .container4 {
        padding: 0 1rem !important;
    }

    .heading3 {
        font-size: 30px !important;
    }

    .para3 {
        padding: 0 1rem !important;
    }

    #red1 {
        display: none;
    }

    #red2 {
        display: none;
    }

    #black2 {
        display: none;
    }

    #img1 {
        display: none;
        position: absolute !important;
        /* top: 10; */
        left: 20px !important;
    }

    #black1 {
        display: none;
        position: absolute !important;
        left: 81px !important;
    }

    #img2 {
        display: none;
        position: absolute !important;
        left: 190px !important;
    }

    #img3 {
        display: none;
    }
    .lastimages{
        margin-bottom: 78px !important;
        flex-direction: column;
    }
    #buisness{
        max-width: 80% !important;
        padding-bottom: 10px !important;
    }
    #clutch{
        max-width: 80% !important;
        padding-bottom: 15px !important;
    }
    #google{
        max-width: 50% !important;
        margin-bottom: 15px !important;
    }
    #good{
        max-width: 50% !important;
        padding-bottom: 16px !important;
    }
    #fifth{
        margin-top: 22rem;
    }
    .container6{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .sectionend{
        flex-direction: column;
    }
    .leftside{
        height: 100% !important;
        width: 74% !important;
        border-top-left-radius: 20px !important;
    }
    .rightside{
        border-top: hidden;
        width: 73% !important;
    }
    .fullname{
        width: 84% !important;
    }
    .emailaddress{
        width: 97% !important;
    }
    .number{
        width: 89% !important;
    }
    #interested{
        width: 107% !important;
    }
    #yourmessage{
        width: 80% !important;
    }
    #fullinput{
        width: 100% !important;
        margin-bottom: 1rem !important;
    }
    #emailinput{
        width: 87% !important;
    }
    #numberinput{
        width: 96% !important;
    }
    .interested{
        max-width: 100% !important; 

    }
    footer {
        margin-top: 31rem !important;
        /* height: 100%; */
        position: relative;
    }

    .container9 {
        flex-direction: column !important;
        display: flex !important;
        flex-wrap: wrap;
        height: 100% !important;
    }

    #footerlogo {
        max-width: 390% !important;
    }

    .firstsection {
        width: 90% !important;
    }

    .secondsection {
        width: 90% !important;
    }

    .thirdsection {
        width: 90% !important;
    }

    .fourthsection {
        width: 90% !important;
    }

    .fifthsection {
        width: 90% !important;
    }

    #secheadlegals {
        margin-top: 2rem !important;

    }
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    position: sticky;
    z-index: 1000;
    margin-bottom: 22rem;
}

nav>img-logo {
    height: auto;
    max-width: auto;
    margin: 0px;
    margin-bottom: 0px;
}

nav ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

li a {
    row-gap: 20px;
    font-size: 20px !important;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    font-size: 16px;
}

a:hover {
    color: rgb(182, 20, 23);
}

.btn {
    height: 37px;
    width: 13rem;
    background-color: black;
    color: white;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 2rem;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25px;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn a:hover {
    color: rgb(182, 20, 23);
    padding: 20x;

}

.btn:hover {
    background-color: white;
    color: rgb(182, 20, 23);
    border-color: rgb(182, 20, 23);
    transition: .15s ease-in-out;
}

header {
    /* display: flex; */
    margin-bottom: 25rem;

}

.container1 {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 2rem; */
}

.heading1 {
    font-weight: 900;
    font-size: 48px;
    font-family: sans-serif;
    color: rgb(33, 37, 41);
    max-width: 100%;
    line-height: 58px;
}

.para1 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(33, 37, 41);
    align-self: flex-end;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
    margin-top: 4rem;

}

#red1 {
    position: absolute;
    left: 140px;
}

#img1 {
    position: absolute;
    left: 570px;
    top: 720px;
}

#black1 {
    position: absolute;
    top: 825px;
    left: 700px;
}

#img2 {
    position: absolute;
    top: 770px;
    left: 830px;
}

#red2 {
    position: absolute;
    top: 830px;
    right: 100px;
}

#black2 {
    position: absolute;
    top: 950px;
    right: 180px;
}

#img3 {
    position: absolute;
    top: 957px;
    right: 500px;
}

.container2 {
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    padding: 1rem 7rem;
}

.development {
    display: flex;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
    gap: 3rem;
}

.firstimg {
    height: auto;
    max-width: 100%;
}

.developmentp1 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);

}

.secondimg {
    height: auto;
    max-width: 100%;

}

.developmentp2 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.thirdimg {
    height: auto;
    max-width: 100%;
}

.developmentp3 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.two {
    padding: 8rem 0;
}

.container3 {
    display: flex;
    align-items: center;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
}

.heading2 {
    font-family: sans-serif;
    font-size: 39px;
    font-weight: 900;
    color: rgb(33, 37, 41);
    line-height: 48px;
    margin-bottom: 40px;
    text-align: center;
}

.oneimage {
    max-width: 50%;
}

.oneimage img {
    max-width: 70%;
    height: auto;
}

.sections {
    width: 50vw;
}

.first {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 1.25rem;
}

.firstsec {
    display: flex;
    gap: 10px;
}

.firstsec p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(33, 37, 41);
}

.second {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 1.25rem;
}

.secondsec {
    display: flex;
    gap: 10px;
}

.secondsec p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(33, 37, 41);
}

.third {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 1.25rem;
}

.thirdsec {
    display: flex;
    gap: 10px;
}

.thirdsec p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(33, 37, 41);
}

.fourth {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 1.25rem;
}

.fourthsec {
    display: flex;
    gap: 10px;
}

.fourthsec p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(33, 37, 41);
}

.fifth {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(94, 89, 89);
    padding: 2rem 1.25rem;

}

.fifthsec {
    display: flex;
    gap: 10px;
}

.fifthsec p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(33, 37, 41);
}

#third {
    margin-top: 4rem;
}

.container4 {
    max-width: 100%;
    padding: 0 6rem;
}

.heading3 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(33, 37, 41);
}

.para3 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    padding: 0 9.7rem;
    margin: 1rem 0;
    color: rgb(33, 37, 41);
}

video {
    width: 100%;
    height: auto;
}

#fourth {
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.container5 {
    display: flex;
    flex-direction: column;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.heading4 {
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(33, 37, 41);
}

.para4 {
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    color: rgb(33, 37, 41);
    margin-bottom: 1rem;
}

.lastimages {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buisness {
    height: auto;
    max-width: 10%;
    padding: 0 20px;
}

#clutch {
    height: auto;
    max-width: 15%;
    padding: 0 20px;
}

#google {
    height: auto;
    max-width: 15%;
    padding: 0 20px;
}

#good {
    height: auto;
    max-width: 15%;
    padding: 0 20px;
}
#fifth{
    height: 100%;
}

.container6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    padding-right: 8rem;
    padding-left: 8rem;
}

.sectionend {
    width: 100%;
    display: flex;
    margin: 40px auto;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.12);
}

.leftside {
    width: 50%;
    background-color: white;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.rightside {
    height: auto;
    width: 50%;
    background: linear-gradient(285deg, #5D0002, #B61417, #B61417);
    padding: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
}

.lefthead {
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
    color: rgb(40, 43, 48);
    margin-bottom: .5rem;
}

.inputs {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 4rem;
    /* align-content: center; */
}

.fullname {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

#name {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

#fullinput {
    max-width: 100%;
    padding: 12px 23.5px;
    border-radius: 14px;
    border: 1px solid #5c5e62;
}

.emailaddress {
    width: 45%;
    display: flex;
    flex-direction: column;
}

#emailinput {
    max-width: 100%;
    padding: 12px 23.5px;
    border-radius: 14px;
    border: 1px solid #5c5e62;
}

#emailtext {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

.number {
    width: 45%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#numbertext {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

#numberinput {
    max-width: 100%;
    padding: 12px 23.5px;
    border-radius: 14px;
    border: 1px solid #5c5e62;
}

#interested {
    width: 48%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /* margin-left: 50px; */
}

#interestedtext {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

#interested_in {
    /* margin-left: 50px; */
    max-width: 100%;
    padding: 12px 9.5px;
    border-radius: 14px;
    border: 1px solid #5c5e62;
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#messagetext {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

#yourmessage {
    width: 90%;
    padding: 12px 29.5px;
    border-radius: 14px;
    border: 1px solid #5c5e62;
}

.products {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#productinput {
    width: 112%;
    padding: 12px 9.5px;
    border-radius: 14px;
    border: 1px solid #5c5e62;
}

.booking {
    margin-top: 1rem;
    background-color: rgb(182, 20, 23);
    border-color: rgb(182, 20, 23);
    height: 45px;
    width: 13rem;
    border-radius: 12px;
    border: 1px solid rgb(182, 20, 23);
    cursor: pointer;
    animation: appear 3s ease;
    animation-timeline: view();
    animation-range: 0% 30%;
}

.booking a {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;


}

.callus {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

#calltext {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #E2D5D5;
}

.uscall {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .7rem;
}

#usnum {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #E2D5D5;
}

.pakcall {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .7rem;
}

#pknum {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #e2d5d5;
}

.canadacall {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#canadaimg {
    width: 5%;
}

#canadanum {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e2d5d5;
}

.cardmail {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#mailtext {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: #e2d5d5;
}

#mailtext {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e2d5d5;
}

.ouroffices {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#officetext {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e2d5d5;
}

.usaoffice {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

#usoffice {
    width: 5%;
}

#usofficetext {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e2d5d5;
}

#usalocationtext {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e2d5d5;
}

.canadaoffice {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
#canadaofficeimg{
    width: 5%;
}
#canadaofficetext{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e2d5d5;
}
#canadalocationtext{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: #e2d5d5;
}
.saudiarabiaoffice{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#saudiarabiaimg{
    width: 5%;
}
#saudiarabiatext{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e2d5d5;
}
#saudiarabialocationtext{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e2d5d5;
}
.pakistanlocation{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: .5rem;
}
#pakistanlocationimg{
    width: 5%;
}
#pakistanlocationtext{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #e2d5d5  ;
}
#pakistanlocationname{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #e2d5d5;
}
footer {
    margin-top: 2rem;
    background-color: #212529;
    /* height: 100vh; */
}
.container9 {
    height: 90vh;
    /* background-color: crimson; */
    /* width: 100%; */
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
#footerlogo{
    height: 11%;
    max-width: 60%;
}

.container9 .firstsection {
    margin-top: 40px;
    width: 30%;
    padding: 0 20px;
}

#lastp {
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(217, 217, 217);
    margin: 1.5rem 0;
}
.container9 .secondsection {
    margin-top: 40px;
    width: 18%;
    padding: 0 30px;

}

#secheadlast {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(248, 249, 250);
    margin-bottom: 30px;

}

#secheadlast a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(217, 217, 217);


}

#secheadlegals {
    margin-top: 7rem;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(248, 249, 250);
}

#privacypolicy {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(217, 217, 217);
}

.container9 .thirdsection {
    margin-top: 40px;
    width: 18%;
    padding: 0 30px;
}

#thirdhead {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(248, 249, 250);
    margin-bottom: 20px;

}

#location {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(217, 217, 217);
}

.container9 .fourthsection {
    margin-top: 40px;
    width: 18%;
    padding: 0 30px;
}

#fourthhead {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(248, 249, 250);
    margin-bottom: 20px;
}

#fourthp {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(217, 217, 217);

}

#afourthp {
    text-decoration: none;
    font-weight: normal;
    color: rgb(217, 217, 217);
}

.container9 .fifthsection {
    margin-top: 40px;
    width: 18%;
    padding: 0 30px;
}

#fifthhead {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(248, 249, 250);
    margin-bottom: 20px;
}

#email {
    cursor: pointer;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(217, 217, 217);
}

#officehead {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(248, 249, 250);
    margin-bottom: 10px;
}

#number {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(217, 217, 217);
}

.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rgb(217, 217, 217);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.lastflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end {
    border-top: 1px solid rgb(96, 96, 96);
    border-bottom: 1px solid rgb(96, 96, 96);
}

#end {
    padding: 1.5rem 0;
    text-align: center;
    font-family: sans-serif;
    color: rgb(217, 217, 217);
}

